{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/" method="post">

    <input type="text" name="name" placeholder="Nome">
    <input type="text" name="user" placeholder="Usuário, ex: maria">
    <input type="password" name="password_hash" placeholder="Senha">

    <button type="submit">Cadastrar</button>

  </form>
{% endblock %}
